.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/
draft_posts/blackout_houston_post/data/ACS_2019_5YR_TRACT_48_TEXAS.gdb/
*.gdbtable
*.gdb
draft_posts/blackout_houston_post/data/
*.gdb
*.gdbtable
*.gpkg
draft_posts/blackout_houston_post/data/
*.gdb
*.gdbtable
*.gpkg

**/*.quarto_ipynb
